$font1: 'Montserrat', sans-serif;
$font2: 'Droid Serif', sans-serif;
$font3: 'Roboto Slab', sans-serif;
$color1: #454343; //Jumbotron etc
$color2: #FFFFFF;
$color3: #f3f3f3;
$color4: #7d7d7d;
$color5: #000000;
$color6: #ff3e3e; //Navbar etc

@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
}

@mixin animation-delay($delay) {
  	animation-delay: $delay;
	-webkit-animation-delay: $delay;
	-moz-animation-delay: $delay;
	-o-animation-delay: $delay;
}

body {
	font-family: $font1;
}

.navbar {
	border: 0;
	background-color: $color2;
}

.jumbotron {
	text-align: center;
	background-color: $color1;
	color: $color2;
	padding-top: 80px;
	padding-bottom: 80px;
}

.jumbotron .btn {
	color: $color2;
	background-color: $color6;
	border: 3px solid $color2;
	text-transform: uppercase;
	@include border-radius(10px);
}

.jumbotron .btn:hover {
	color: $color1;
	background-color: $color2;
}

.jumbotron:after {
	content: ' ';
	height: 0;
	width: 0;
	left: 50%;
	position: absolute;
	margin-top: 80px;
	margin-left: -40px;
	border-left: 40px solid $color2;
	border-right: 40px solid $color2;
	border-top: 40px solid $color1;
}

section {
	padding: 90px 0px 90px 0px;
	text-align: center;
	}

section#about:after {
	content: ' ';
	height: 0;
	width: 0;
	left: 50%;
	position: absolute;
	margin-top: 90px;
	margin-left: -40px;
	border-left: 40px solid $color3;
	border-right: 40px solid $color3;
	border-top: 40px solid $color2;
}

section#resume:after {
	content: ' ';
	height: 0;
	width: 0;
	left: 50%;
	position: absolute;
	margin-top: 90px;
	margin-left: -40px;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-top: 40px solid $color2;
}

section h2 {
	margin-top: 0px;
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
	color: $color1;
}

section h3 {
	font-size: 20px;
	font-weight: 700;
	color: $color1;
}

section h4 {
	font-size: 20px;
	font-weight: 700;
	color: $color1 !important;
}

section p {
	font-family: $font2;
	font-size: 14px;
	line-height: 23px;
}

section p.subheading {
	font-size: 16px;
	font-style: italic;
	margin-bottom: 40px;
}

section.grey {
	background-color: $color3;
}

section.grey:after {
	content: ' ';
	height: 0;
	width: 0;
	left: 50%;
	position: absolute;
	margin-top: 90px;
	margin-left: -40px;
	border-left: 40px solid $color2;
	border-right: 40px solid $color2;
	border-top: 40px solid $color3;
}

.feature {
	text-align: center;
}

.feature i.fa {
	width: 130px;
	height: 130px;
	padding-top: 40px;
	font-size: 50px;
	margin-bottom: 5px;
	color: $color2;
	background-color: $color6;
	@include border-radius(100%);
}

.my-skills {
	margin-top: 50px;
}

.progress {
	@include border-radius(7px);
    position: relative;
	height: 25px;
	background-color: $color3;
	font-family: $font1;
	color: $color4;
	box-shadow: none;
}

.progress-bar {
	background-color: $color6;
	box-shadow: none;
}

.progress > .progress-type {
	position: absolute;
	left: 0px;
	font-weight: 400;
	padding: 3px 30px 2px 10px;
	color: $color2;
}

.progress > .progress-completed {
	position: absolute;
	right: 0px;
	font-weight: 400;
	padding: 3px 10px 2px;
}

.portfolio-item {
	margin-bottom: 32px;
}

.portfolio-item img {
  	border-top-right-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-top-right-radius: 20px;
	-ms-border-top-right-radius: 20px;
  	border-top-left-radius: 20px;
	-webkit-border-top-left-radius: 20px;
	-moz-border-top-left-radius: 20px;
	-ms-border-top-left-radius: 20px;
}

.portfolio-item img:hover {
	opacity: 0.4;
}

.portfolio-caption {
	padding-bottom: 15px;
	background-color: $color3;
  	max-width: 400px;
  	border-bottom-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-bottom-right-radius: 20px;
	-ms-border-bottom-right-radius: 20px;
  	border-bottom-left-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-bottom-left-radius: 20px;
	-ms-border-bottom-left-radius: 20px;
}

.portfolio-caption h4 {
	margin-top: 0;
	margin-bottom: 5px;
	padding-top: 20px;
}

.portfolio-caption p {
	font-size: 16px;
	font-style: italic;
}






section#contact {
  background-color: $color1;
  background-image: url('../img/map-image.png');
  background-position: center;
  background-repeat: no-repeat;
}
section#contact h2, section#contact p {
	color: $color2;
}
section#contact p.subheading {
	margin-bottom: 50px;
}
section#contact .form-group {
  margin-bottom: 25px;
}
section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}
section#contact .form-group input.form-control {
  height: auto;
}
section#contact .form-group textarea.form-control {
  height: 230px;
}
section#contact .form-control {
	border: none;
	@include border-radius(15px);
}
section#contact .form-control:focus {
	box-shadow: none;
}
section#contact ::-webkit-input-placeholder {
  font-family: $font1;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbbbbb;
}
section#contact :-moz-placeholder {
  /* Firefox 18- */
  font-family: $font1;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbbbbb;
}
section#contact ::-moz-placeholder {
  /* Firefox 19+ */
  font-family: $font1;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbbbbb;
}
section#contact :-ms-input-placeholder {
  font-family: $font1;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbbbbb;
}
section#contact .text-danger {
  color: $color2;
}

section#contact .btn-xl {
  color: $color2;
  background-color: $color6;
  border: 3px solid $color2;
  font-family: $font1;
  text-transform: uppercase;
  font-weight: 700;
  @include border-radius(10px);
  font-size: 18px;
  padding: 12px 20px;
  margin-top: 20px;
}

section#contact .btn-xl:hover {
	color: $color1;
	background-color: $color2;
}



footer {
  padding: 25px 0;
  text-align: left;
}
footer span.copyright {
  line-height: 40px;
  font-family: $font1;
  text-transform: uppercase;
  text-transform: none;
}
ul.social-buttons {
  margin-bottom: 0;
  float: right;
}
ul.social-buttons li a {
  padding-left: 7px;
  display: block;
  background-color: $color6;
  height: 40px;
  width: 40px;
  @include border-radius(100%);
  font-size: 20px;
  line-height: 38px;
  color: $color2;
  outline: none;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: $color1;
}




@import 'timeline';

.delay1 {
	@include animation-delay(0.5s);
}

.delay2 {
	@include animation-delay(1.1s);
}

.delay3 {
	@include animation-delay(2s);
}


@media (min-width: 768px) {

	.navbar {
		margin: 30px 0px 11px 0px;
		@include border-radius(0px);
	}

	.navbar .navbar-nav {
		margin-left: 1.9%;
	}

	.navbar .navbar-right {
		margin-right: -1%;
	}

	.navbar .navbar-nav li a {
		background-color: $color6;
		margin: 40px 10px 0px 10px;
		padding: 13px 10px 13px 10px;
		color: $color2;
		text-transform: uppercase;
		font-size: 19px;
		@include border-radius(10px);
	}

	.navbar .navbar-nav li a:hover {
		background-color: $color6;
		color: $color2;
		animation: swing 1s;
		-webkit-animation: swing 1s;
    	-moz-animation: swing 1s;
    	-o-animation: swing 1s;
	}

	.navbar .navbar-nav li a:visited {
		color: $color2;
	}

    .navbar .navbar-brand-centered {
    	background-color: $color6;
    	width: 158px;
    	height: 158px;
        position: absolute;
        top: 0px;
        left: 50%;
        display: block;
        text-align: center;
        padding: 30px 0 0 0;
        border: 10px solid $color2;
        @include border-radius(100%);
    }

    .navbar .navbar-brand-centered:hover {
    	background-color: $color6;
    }

     .navbar-brand-centered img:hover {
     	animation: swing 1s;
		-webkit-animation: swing 1s;
    	-moz-animation: swing 1s;
    	-o-animation: swing 1s;
     }

    .navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -78px;
    }

	.affix {
		z-index: 10;
		width: 100%;
		height: 70px;
		background-color: $color1;
		margin: 0;
		padding: 0;
	}

	.affix li a {
	    top: -27px;
		background-color: transparent !important;
		color: $color2;
	}

	.affix li.active a {
		background-color: $color2 !important;
		color: $color1 !important;
	}



    .affix .navbar-brand-centered {
    	margin-left: -27px !important;
    	background-color: $color6;
    	width: 55px;
    	height: 55px;
        position: absolute;
        top: 7px;
        left: 50%;
        display: block;
        text-align: center;
        padding: 10px 0 0 0;
        border: 4px solid $color2;
        @include border-radius(100%);
    }

    .affix .navbar-brand-centered img {
    	width: 35px;
    }

    .affix .navbar-brand-centered:hover {
    	background-color: $color6;
    }

     .affix .navbar-brand-centered img:hover {
     	animation: swing 1s;
		-webkit-animation: swing 1s;
    	-moz-animation: swing 1s;
    	-o-animation: swing 1s;
     }



	.affix .navbar-nav {
		position: relative;
		left: 50px;
	}

	.affix .navbar-right {
		position: relative;
		left: -50px;
	}

	.jumbotron {
		background-image: url(../img/matti-crop3.png), url(../img/dot-bg.png);
    	background-position: right center, left top;
    	background-repeat: no-repeat, repeat;
		padding-left: 3%;
		padding-right: 30%;
		padding-top: 80px;
	}

	.jumbotron h1 {
		font-size: 50px;
	}

	.jumbotron p {
		font-size: 21px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

    .jumbotron .btn {
    	margin-bottom: 30px;
    }

	.animate-on-scroll {
		opacity: 0;
		filter: alpha(opacity=0); /* For IE8 and earlier */
	}

	.animate-on-scroll-2 {
		opacity: 0;
		filter: alpha(opacity=0); /* For IE8 and earlier */
		animation-duration: 2s !important;
		-webkit-animation-duration: 2s !important;
	}

}

@media (min-width: 1200px) {

	.jumbotron {
		background-image: url(../img/matti.png), url(../img/dot-bg.png);
    	background-position: right center, left top;
    	background-repeat: no-repeat, repeat;
		padding-left: 3%;
		padding-right: 40%;
	}

	.jumbotron h1 {
		font-size: 50px;
	}

	.jumbotron p {
		font-size: 21px;
	}

	.navbar .navbar-nav li a {
		margin: 40px 10px 0px 10px;
		padding: 13px 20px 13px 20px;
	}

	.navbar .navbar-nav {
		margin-left: 16.3%;
	}

	.navbar .navbar-right {
		margin-right: 14.5%;
	}

}

@media (min-width: 992px) and (max-width: 1199px) {

	.jumbotron {
		background-image: url(../img/matti-crop2.png), url(../img/dot-bg.png);
    	background-position: right center, left top;
    	background-repeat: no-repeat, repeat;
		padding-left: 3%;
		padding-right: 35%;
	}

	.jumbotron h1 {
		font-size: 50px;
	}

	.jumbotron p {
		font-size: 21px;
	}

	.navbar .navbar-nav li a {
		margin: 40px 10px 0px 10px;
		padding: 13px 20px 13px 20px;
	}

	.navbar .navbar-nav {
		margin-left: 9.1%;
	}

	.navbar .navbar-right {
		margin-right: 6.9%;
	}

}

@media only screen and (max-width : 767px) {
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

    .navbar .navbar-brand-centered {
    	margin: 0;
    	background-color: $color6;
    	position: absolute;
    	margin: 5px 0 0 5px;
    	width: 60px;
    	height: 60px;
        display: block;
        text-align: center;
        padding: 11px 0 0 0;
        border: 4px solid $color2;
        @include border-radius(100%);
    }

    .navbar .navbar-brand-centered:hover, .navbar .navbar-brand-centered:active {
    	background-color: $color6;
    }

    .navbar .navbar-brand-centered img {
    	width: 37px;
    }

    .navbar-header button {
    	position: relative;
    	top: 11px;
    	background-color: $color6;
    	border: none;
    }

    .navbar-header .icon-bar {
    	background-color: white !important;
    }

    .navbar .navbar-collapse {
    	background-color: $color2;
    	margin-top: 20px;
    	padding-top: 15px;
    	padding-bottom: 0px;
    	border: none;
    }

    .navbar .navbar-collapse ul {
    	margin: 0px;
    	padding: 0px;
    }

    .navbar .navbar-collapse ul li a {
    	background-color: $color1;
    	@include border-radius(5px);
    	margin-bottom: 10px;
    	color: $color2;
    	text-transform: uppercase;
    }

    .navbar .navbar-collapse ul li a:hover {
    	background-color: $color6;
    	color: $color2;
    }

	.affix {
		z-index: 10;
		width: 100%;
		height: 70px;
		background-color: $color1;
		margin: 0;
		padding: 0;
	}

	.affix li.active a {
		background-color: $color1 !important;
		color: $color2 !important;
	}

	.affix li a:hover, .affix li.active a:hover {
		background-color: $color6 !important;
		color: $color2 !important;
		@include border-radius(5px);
	}

	.jumbotron h1 {
		font-size: 50px;
	}

	.jumbotron .btn {
		margin-top: 20px;
		margin-bottom: 30px;
	}

	.feature {
		padding-bottom: 40px;
	}

	.feature:last-child {
		padding-bottom: 0px;
	}

	.portfolio-item img, .portfolio-caption {
		margin: 0 auto;
	}

	section#contact {
		background-image: none;
	}

	footer {
		text-align: center;
	}

	ul.social-buttons {
		margin-top: 10px;
		float: none;
	}

	ul.social-buttons li a {
		padding-left: 1px;
	}

}

@media (min-width: 481px) and (max-width: 767px) {

	.jumbotron {
		background-image: url(../img/matti-crop4.png), url(../img/dot-bg.png);
    	background-position: right center, left top;
    	background-repeat: no-repeat, repeat;
		padding-left: 2%;
		padding-right: 25%;
	}

}

@media (max-width: 480px) {

}